mixin s-sportman-body()
	// start s-sportman-body
	+b.SECTION.s-sportman-body.section.block-with-lazy#s-sportman-body&attributes(attributes)
		.container
			+b.tabs 
				+b.section-nav.tabs__nav
					+e.body--js(data-droptitle="еще")  
						+e.UL.nav.nav-ul.tabs__caption
							li
								a.tabs__btn.active(href="#tab-1") Информация
							li
								a.tabs__btn(href="#tab-2") Тестирования
							li
								a.tabs__btn(href="#tab-3") Результат
				+e.wrap
					+e.content#tab-1.active
						+e.content-title Биография теннисиста
						table.table
							mixin tr(t1)
								tr
									td= t1
									td
										block
							+tr('Телефон:')
								a.text-body(href="tel:+375292334567") +37529 233 45 67
							+tr('E-mail:')
								a.tdu(href="mailto:IvanovTennis@mail.by") IvanovTennis@mail.by
							+tr('Паспорт:')
								| РБ
							+tr('Личный номер:')
								| 456545Р546O45 
							+tr('Тренер:')
								| Макаревич И.А.
							+tr('Место жительства:')
								| РБ, Минск
							+tr('Страна:')
								| Республика Беларусь
							+tr('Pro status:')
								| 2
							+tr('Single ranking:') 
								| 1
						p В биографии Артура Эш звездным периодом были 1960-е и 1970-е года. Иногда спортсмена называют афроамериканским первооткрывателем, поскольку именно он стал первым черным, победившим на чемпионате США, а также соревнованиях Уимблдона. Кроме того Эш одержал много других побед за свою карьеру. К тому же, он стал первым афроамериканцем в команде США на чемпионате Davis в 1963 году.
						p Эш играл в теннис в Калифорнийском университете в Лос-Анджелесе, став также национальным студенческим чемпионом в 1965. Он выиграл три высших турнира в теннисе: чемпионат США (1968), Австралии (1970), Уимблдон (1975). В 1980 году Эш покинул спорт, а в 1985 спортсмен был избран в национальный Зал славы тенниса.

						p В 1988 году Артур обнаружил у себя СПИД. Вероятнее всего, заражение ВИЧ-инфекцией произошло во время переливания крови, когда ему в 1983 году делали операцию на сердце. Эш в 1992 году устроил пресс-конференцию для публики, а уже в следующем году умер.

						p Дополнительные данные: С 1966 по 1968 год Артур служил в армии США, получив звание второго лейтенанта. Трехтомное произведение Артура об афроамериканских спортсменах «A Hard Road To Glory» было издано в 1988 году. Кроме того, в биографии Артура Эш была написана еще одна книга: «Days of Grace: A Memoir», опубликованная в 1993.



					// /+e.content
					
					+e.content#tab-2
						+e.content-title Тестирования теннисиста
						mixin gr(t)
							+e.group
								+e.group-title=t
								+e.group-date 23.03.2019 — 31.03.2019
								p  В биографии Артура Эш звездным периодом были 1960-е и 1970-е года. Иногда спортсмена называют афроамериканским первооткрывателем, поскольку именно он стал первым черным, победившим на чемпионате США, а также соревнованиях Уимблдона. 

								+e.link(href="#") 
									
									| Название прикрепленного файла 
							// /+e.group
						+gr("Тестирования ОФП")
						+gr("Комплексное тестирование")
						+gr("Медицинское тестирование")
						+gr("Психологическое тестирование")
					// /+e.content
					+e.content#tab-3
						p В биографии Артура Эш звездным периодом были 1960-е и 1970-е года. Иногда спортсмена называют афроамериканским первооткрывателем, поскольку именно он стал первым черным, победившим на чемпионате США, а также соревнованиях Уимблдона. Кроме того Эш одержал много других побед за свою карьеру. К тому же, он стал первым афроамериканцем в команде США на чемпионате Davis в 1963 году.
						p Эш играл в теннис в Калифорнийском университете в Лос-Анджелесе, став также национальным студенческим чемпионом в 1965. Он выиграл три высших турнира в теннисе: чемпионат США (1968), Австралии (1970), Уимблдон (1975). В 1980 году Эш покинул спорт, а в 1985 спортсмен был избран в национальный Зал славы тенниса.

						p В 1988 году Артур обнаружил у себя СПИД. Вероятнее всего, заражение ВИЧ-инфекцией произошло во время переливания крови, когда ему в 1983 году делали операцию на сердце. Эш в 1992 году устроил пресс-конференцию для публики, а уже в следующем году умер.

						p Дополнительные данные: С 1966 по 1968 год Артур служил в армии США, получив звание второго лейтенанта. Трехтомное произведение Артура об афроамериканских спортсменах «A Hard Road To Glory» было издано в 1988 году. Кроме того, в биографии Артура Эш была написана еще одна книга: «Days of Grace: A Memoir», опубликованная в 1993.


					// /+e.content
	// end s-sportman-body