mixin s-docs() 
	// start s-docs
	+b.UL.s-docs.section 
		+e.LI.item
			+e.link(href="#")
				+e.DIV.icon-wrap: +icon('download')
				+e.DIV.title
					span  Договор о проведении культурно-массового мероприятия.docx  
					+e.DIV.size (235 Кб)
		
		+e.LI.item
			+e.link(href="#")
				+e.DIV.icon-wrap: +icon('download')
				+e.DIV.title
					span Положение №13 о исполнении обязанностей сотрудников и волонтеров культурно-маcового мероприятия.doc  
					+e.DIV.size (235 Кб)
		
		+e.LI.item
			+e.link(href="#")
				+e.DIV.icon-wrap: +icon('download')
				+e.DIV.title
					span Приказ от 03.03.2017 о проведениии турнира.pdf  
					+e.DIV.size (235 Кб) 
		
		+e.LI.item
			+e.link(href="#")
				+e.DIV.icon-wrap: +icon('download')
				+e.DIV.title
					span Положение №124 о исполнении обязанностей сотрудников и волонтеров.docx  
					+e.DIV.size (235 Кб)
		
		+e.LI.item
			+e.link(href="#")
				+e.DIV.icon-wrap: +icon('download')
				+e.DIV.title
					span Договор о проведении культурно-массового мероприятия.doc  
					+e.DIV.size (235 Кб)
		
		
	// end s-docs