mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block
mixin input( t , pl)
	+e.input-wrap.form-group
		+e.INPUT.input.form-control(type= t placeholder= pl)&attributes(attributes)
	// +e.input-wrap
mixin select( t )
	+e.input-wrap.form-group
		+e.SELECT.input.form-control
			option.d-none(disabled selected)= t
			block
	// +e.input-wrap

mixin ta( pl)
	+e.input-wrap.form-group
		+e.TEXTAREA.input.form-control( placeholder= pl)&attributes(attributes)
	// +e.input-wrap

mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			block

mixin ci()
	+b.LABEL.custom-input
		+e.INPUT.input(type="checkbox")
		+e.SPAN.lab
		| 
mixin in-rad(n)
	+b.LABEL.custom-input
		+e.INPUT.input(type="radio" name= n)&attributes(attributes)
		+e.SPAN.lab
		block 
mixin in-ch()
	+b.LABEL.custom-input
		+e.INPUT.input(type="checkbox" name= n)&attributes(attributes)
		+e.SPAN.lab
		block 
mixin add-file(n)
	+e.input-wrap.form-group
		+b.LABEL.add-file.form-control
			+e.INPUT.input(name='file', type='file') 
			+e.SPAN.filename МЕДИЦИНСКАЯ СПРАВКА


mixin polite()
	+e.polite
		+in-ch('checked')(checked)
			+e.SMALL.text Я даю 
				|
				a.tdu(href="#") согласие на обработку персональных данных