.form-wrap{
	position: relative;
	background-color: #ffffff;
	min-height: 100%;
	&__title{
		@extend .mono;
		@extend .h3;
		color: $primary;
		margin-bottom: rem(2);
	}
	&__head{
		@include media-breakpoint-up(md) {

			padding-bottom: rem(30);
		}
		padding-bottom: rem(10);
	}
	textarea{
		height: rem(125);
	}
	&__cont-wrap{
		@include media-breakpoint-up(lg) {
			flex-direction: column;
		}
		display: flex;
		// display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	&__email{
		.icon{
			
			font-size: rem(21);
		}
		@include media-breakpoint-up(lg) {

			width: rem(73px);
		}
		width: rem(55px);
		height: rem(55px);
		background-color:  #85b94b;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff !important;

	}
	
	&__tel{
		.icon{

			font-size: rem(21);
		}
		width: rem(55px);
		height: rem(55px);
		background-color: $primary;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff !important;

	}

 	&__input-wrap{
		.input-group-append{
			right: rem(30);
			// @include a-cent(y);
			top: rem(10);
			position: absolute;
		}
		.btn-outline-secondary{
			border: none !important;
			background: none !important;
			padding: 0 !important;
		}
 	 
 	}
 	&__input{
		//  outline: 0 !important;
		 resize: none;
 	}
 	&__btn{
		 cursor: pointer;
		 @extend .btn;
		 @extend .btn-primary;
		 @extend .btn-block;
		 margin-top: rem(25);
	 }
	 &--lg  .form-wrap__polite{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(370);
	 }
	 &--lg  &__btn{
		 margin-left: auto;
		 margin-right: auto;
		 max-width: rem(291);
	 }
 	label{
 		width: 100%;
 		display: block;
 	}
}


.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

.add-file{
	position: relative;
	background-image: url(../img/download.svg);
	background-position: calc(100% - #{rem(10)}) center;
	background-repeat: no-repeat;
	background-size: rem(32);
	padding-right: rem(40);
	cursor: pointer;
	input{
		@extend .invisible;
	}
}


.custom-input{
	display: block;
	margin: auto;
	 
	margin-bottom: $form-group-margin-bottom * .3;
	cursor: pointer;
	position: relative;
	padding-left: 35px;
	display: inline-block;
	&__input{
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}
	&__lab{
		left: 0;
		display: block;
		top: -1px;
		// display: inline-block;
		@include mt;
		position: absolute; 
		width: rem(24px);
		height: rem(24px); 
		border: 1px solid #cecece;
	}
	&__input  + &__lab{
		&::after{ 
			content:   '';
			position: absolute;
			@include a-cent; 
			opacity: 0;
			width: rem(10px);
			height: rem(10px); 
			background-color: #85b94b;
		}
	}
	&__input[type="radio"] + &__lab{
		width: rem(18px);
		height: rem(18px); 
		border-radius: 50%; 
		top: em(2);
		&::after{
			border-radius: 50%;
			width: rem(8px);
			height: rem(8px); 
		}
	}
	
	&__input[type="checkbox"]:checked + &__lab{ 
		 
	}
	&__input:checked + &__lab{ 
		&::after{

			opacity: 1;
		}
	}

}





// .jq-selectbox{
// 	max-width: 100%;
// 	margin: auto;
// 	display: block !important;
//  // height: auto;
// 	&__select{
// 		// background-color: transparent;
		 
// 		box-shadow: none !important; 
// 		background-image: none !important;
// 		text-shadow: none;
// 		font-family: $default-font;
// 		font-size: rem(14); 
// 		text-align: left;
// 		border: 1px solid #dadada;
// 		background-color: #fff;
// 		padding-top: rem(12);
// 		padding-bottom: rem(12);
// 		height: auto;
// 		border-radius: rem(6);
// 		@include mt;
// 		&:hover{
		 
// 		}
// 		&-text{
// 			// width: 100% !important;
// 			line-height: 1;
// 		}
// 	}	
// 	&__select:hover &__trigger{
		 
// 	}
// 	&__trigger{
// 		border: none;
// 		background-color: #dadada; 
// 		height: 100%;
// 		width: 40px;
// 		border-radius: rem(6);
// 		text-align: center;
// 		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAA40lEQVRIS9XVXRXCMAwF4HsVgARQABLAATgAZeAAHIAEJIADUFBOdtqdwdKk7OeBPa7pl61JW8J5QghLAKcYtiV58+bQCojgBcA0xj0BrD04iypgyu/CKmqARXALLQBd+AP9ATThGg0h7AAcvMoq4601rtAeYDPHnuRRXnAgMOEVLKg086LDb2tTHiRnZvN3TfRH6MBreic5H6f6o/RpqnCPfn0B2JC8Jkvb+zI4KWwnAVff52vulCqBVbDaptoXxdPKgrNgFo3Fk7tJg03QRDOwC7poAz7HZZIq97tNCzugFfYGUK5wGWWE5JYAAAAASUVORK5CYII=);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		@include mt;
// 		&:hover{
			

// 		}
// 	}
// 	&__trigger-arrow { 
// 		border: none;
    
// }
// li{
// 	font-size: rem(16);
// 	padding: em(10px) 10px em(10px);
// 	&:hover {
     
//     color: #fff;
// }
// }
// }



.select2-container--default{
	display: block;
	outline: 0 !important; 
	.select2-selection--single{
		border-radius: 0;
		border: none;
		border-bottom: solid 1px ;
		height: auto;
		font-size: rem(24px);
		outline: 0 !important; 
		.select2-selection__arrow b{
				border-color: $success transparent transparent transparent;
			  border-style: solid;
			  border-width: 7px 7px 0 7px;
		}
		.select2-selection__rendered{
			white-space: normal;
			 color: $def;
			 padding-left: 0;
			 padding-bottom: 5px;
		}
	}
} 
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent $success transparent;
  border-width: 0 7px 7px 7px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $success;
}