mixin s-seo-block()
	// start s-seo-block
	+b.SECTION.s-seo-block.section.block-with-lazy#s-seo-block&attributes(attributes)
		.container
			.bg-white
				.row
					.col
						+e.text-block
							+b.section-title
								h2 ЗАГОЛОВОК СЕО ТЕКСТА
							p Прямым предшественником современного тенниса считается игра в&nbsp;помещениях, до&nbsp;конца XIX века носившая то&nbsp;же название, а&nbsp;в&nbsp;настоящее время известная как реал-теннис, корт-теннис или жё-де-пом (фр. jeu de&nbsp;paume, в&nbsp;буквальном переводе игра ладонью). 

							p Жё-де-пом, в&nbsp;который могли играть одновременно до&nbsp;12&nbsp;человек, появился в&nbsp;XI&nbsp;веке, по-видимому, в&nbsp;монастырях.

							p Вначале в&nbsp;этой игре, как и&nbsp;в&nbsp;ручной пелоте, мяч отбивали рукой, затем появились перчатки, биты&nbsp;и, наконец, в&nbsp;XVI&nbsp;веке, ракетки и&nbsp;сетка. На&nbsp;это&nbsp;же время приходится пик популярности жё-де-пома, в&nbsp;который играли французские, английские и&nbsp;испанские короли того времени.
							a.link-more(href="#") ЧИТАТЬ ПОЛНОСТЬЮ
					.col-md-4.order-md-first
						+e.bg.img-bg

							img.lazy-bg(src="#" data-src="img/content-bg.jpg", alt="")
							.row
								+e.col.col-md-12.col-6
									+e.group
										+e.title 500
										+e.text Прямым предшественником современного тенниса считается игра в&nbsp;помещениях, до&nbsp;конца
									
								+e.col.col-md-12.col-6
									+e.group
										+e.title 243 000 
										+e.text Прямым предшественником современного тенниса считается игра в&nbsp;помещениях, до&nbsp;конца
									
	// end s-seo-block