mixin s-event-body()
	// start s-event-body
	+b.SECTION.s-event-body.section.block-with-lazy#s-event-body&attributes(attributes) 
		.container
			+b.tabs
				+b.section-nav.tabs__nav
						+e.body--js(data-droptitle="еще")  
							+e.UL.nav.nav-ul.tabs__caption
								li
									a.tabs__btn.active(href="#tab-tourn-1")   Участникам
								li
									a.tabs__btn(href="#tab-tourn-2")  Информация
								li
									a.tabs__btn(href="#tab-tourn-3") Заявочный лист
								
								li
									a.tabs__btn(href="#tab-tourn-4") Турнирная сетка
								li
									a.tabs__btn(href="#tab-tourn-5") Расписание
								
								li
									a.tabs__btn(href="#tab-tourn-6")  Оставить заявку 
				+e.wrap
					mixin cont()
						+e.content&attributes(attributes) 
							.text-center
								p Взнос оплачивается перед началом турнира.  
									br
									strong Расписание игр будет на сайте в пятницу 11 января после 20.00.
								hr
								p 
									strong Положение 2017 года о правилах проведения турниров, входящих в календарь БТФ:
								p 
									strong Пункт4.1. 
									| Допуск к участию в турнирах, входящих в календарь РОО «БТФ», осуществляется на основании уплаты ежегодного членского взноса согласно Положению о порядке уплаты вступительных и членских взносов в РОО «БТФ». 

								p 
									strong Пункт 4.2 
									|. К участию в соревнованиях допускаются спортсмены, прошедшие медицинский осмотр и имеющие допуск (справку) по состоянию здоровья, заверенный подписью и печатью врача спортивной школы, диспансера или любого другого сертифицированного медицинского учреждения. В случае отсутствия вышеперечисленных документов спортсмен может быть не допущен к турниру. (Медицинскую справку можно прикрепить в виде файла при подаче заявки)
								hr
								p Вы можете оставить запись в книге предложений и пожеланий, которая находится у администратора. Кроме предложений вы можете оставить отзыв о работе судей, организации турнира. Каждая запись будет обязательно рассмотрена руководством нашего центра.

								p 
									strong Не нужно бояться принимать участие в турнире , нужно пробовать и набираться опыта! Турниры ММС - здесь начинается настоящий теннис!! 

						// /+e.content
					+cont()(id="tab-tourn-1" )
					+cont()(id="tab-tourn-2" class="") 
	
					+e.content#tab-tourn-3
						+b.TABLE.table-order
							thead
								tr.tr-head
									th ФИО
									th Дата рождения
									th Школа/Тренер
									th Статус заявки
									th Примечание
							tbody
								mixin tr(t1,t2,cl)
									tr
										td(data-title="ФИО") Азаренко Дарья Игоревна
										td(data-title="Дата рождения") 12.12.2010
										td(data-title="Школа/Тренер") Смена/Жур И.Ф
										td(data-title="Статус заявки")
											.label(class= cl)= t1
										td(data-title="Примечание").last= t2
									tr
										td.divider(colspan="5")
								tr
									td.title(colspan="5")  Девушки до 10 лет
									+tr('Принята','','bg-success')
									+tr('Отклонена','По болезни','bg-danger2')
									+tr('Принята','','bg-success')
									+tr('Принята','','bg-warning')
									

								tr
									td.title(colspan="5")  Девушки до 18 лет
									+tr('Принята','','bg-success')
									+tr('Отклонена','По болезни','bg-danger2')
									+tr('Принята','','bg-success')
									+tr('Принята','','bg-warning') 
					// /+e.content
					+e.content#tab-tourn-4
						p 4 В биографии Артура Эш звездным периодом были 1960-е и 1970-е года. Иногда спортсмена называют афроамериканским первооткрывателем, поскольку именно он стал первым черным, победившим на чемпионате США, а также соревнованиях Уимблдона. Кроме того Эш одержал много других побед за свою карьеру. К тому же, он стал первым афроамериканцем в команде США на чемпионате Davis в 1963 году.
						p Эш играл в теннис в Калифорнийском университете в Лос-Анджелесе, став также национальным студенческим чемпионом в 1965. Он выиграл три высших турнира в теннисе: чемпионат США (1968), Австралии (1970), Уимблдон (1975). В 1980 году Эш покинул спорт, а в 1985 спортсмен был избран в национальный Зал славы тенниса.

						p В 1988 году Артур обнаружил у себя СПИД. Вероятнее всего, заражение ВИЧ-инфекцией произошло во время переливания крови, когда ему в 1983 году делали операцию на сердце. Эш в 1992 году устроил пресс-конференцию для публики, а уже в следующем году умер.

						p Дополнительные данные: С 1966 по 1968 год Артур служил в армии США, получив звание второго лейтенанта. Трехтомное произведение Артура об афроамериканских спортсменах «A Hard Road To Glory» было издано в 1988 году. Кроме того, в биографии Артура Эш была написана еще одна книга: «Days of Grace: A Memoir», опубликованная в 1993.
					// /+e.content
					+e.content#tab-tourn-5
						+b.TABLE.table-order
							thead
								tr.tr-head
									th №
									th Матч
									th Время начала 
							tbody
								mixin tr(t1)
									tr.bg(style="background-image: url(img/td-bg.jpg);")
										td(data-title="№ ")= t1
										td(data-title="Матч ") Азаренко Виктория Игорьевна —  Крот Ульяна  Петровна
										td(data-title="Время начала ") 17:00
									tr
										td.divider(colspan="5")
								tr
									td.title(colspan="5")  12.03.2019
									+tr(1)
									+tr(2)
					// /+e.content
					+e.content#tab-tourn-6.active  

						+form-wrap(class='form-wrap--lg')
							+e.head
								+e.title.text-center.ttu Оставить заявку 
							.row 
								.col-md-12
									+select('НАЗВАНИЕ ТУРНИРА')
										option НАЗВАНИЕ ТУРНИРА 1
										option НАЗВАНИЕ ТУРНИРА 12
										option НАЗВАНИЕ ТУРНИРА 13
								.col-md-6
									+input('text',' ФИО')
								.col-md-6
									+input('email','E-MAIL ')
								.col-md-6
									+input('text','ДАТА РОЖДЕНИЯ')(class="datepicker-date")
								.col-md-6
									+input('text','ТЕННИСНЫЙ КЛУБ')
								
								.col-md-6
									+input('text','ПАСПОРТНЫЕ ДАННЫЕ')
								
								.col-md-6
									+input('text','ФИО ТРЕНЕРА')
								
								.col-md-6
									+input('tel','ТЕЛЕФОН') 
								.col-md-6
									+add-file

							+polite
							+e.btn(type="submit") зарегистрироваться
						+b.thanks-block.text-center.pt-30
							// убери класс .pt-30
							h5 Стоимость участия в данном турнире: 25 руб.
							p В турнире могут принять участие дети 5 - 8 лет включительно в категории "до 8 лет" красные мячи, 7 - 9 лет включительно в категории "до 9 лет" оранжевые мячи, 8 - 10 лет включительно в категории "до 10 лет" оранжевые мячи.

							p Жеребевка состоится в пятницу 11.01.19г. в 14.00. Приглашаем представителей!
								br
								| Начало игр в 08.00 ( оранженые мячи согласно расписанию). Игры на красных мячах начнуться в 09.00 (без расписания ) для детей до 8 лет (включительно). Возраст до 10 лет ( зеленые мячи ) играют после 13.00 ( будет в расписании).
								br
								| Участникам турнира будет предоставлена вода, фрукты, печенье. 
							p: strong  Победители будут награждены Кубками, медалями, дипломами и памятными призами от WILSON! 
								br
								| Лучшие по результатам серии будут награждены суперпризами от "WILSON" - теннисной ракеткой!!
								br
								| Суперприз достанется одному мальчику и одной девочке  в каждой возрастной категории. Итого по итогам серии будут вручены 6 ракеток!!!
								+e.btn-group
									+e.btn.btn-danger2(href="#") Отменить
									+e.btn.btn-success(href="#") Оплатить онлайн
					// /+e.content
	// end s-event-body