extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-our-directions/_s-our-directions.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-seo-block/_s-seo-block.pug
include ../blocks/s-banner/_s-banner.pug
include ../blocks/s-treners/_s-treners.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-sportman-head/_s-sportman-head.pug
include ../blocks/s-sportman-body/_s-sportman-body.pug

block title
	title  Турниры академии 

block pagecontent
	
	+header() 
		+top-nav()
	.page-head.container
		h1  Турниры академии 
		+breadcrumb("Главная", " Турниры академии ") 
	+s-content2()
		.text-center 
			p Предшественником тенниса принято считать французскую игру «жё-де-пом» (фр. jeu de paume, дословно игра ладонью). В отличие от современного тенниса в жё-де-пом играли в закрытых помещениях и ладонью. Позже ладонь сменили перчатки, на смену перчаткам пришли специальные биты, а уже потом появились ракетки.

			p Одним из наиболее известных упоминаний тенниса в средневековой литературе является эпизод в исторической хронике Шекспира «Генрих V», где французский дофин в насмешку присылает молодому английскому королю бочонок теннисных. 
	+s-category-10
	+s-news-4
		h3 ПОСЛЕДНИЕ НОВОСТИ
		
	+s-banner
	+footer()

