extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-our-directions/_s-our-directions.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-seo-block/_s-seo-block.pug
include ../blocks/s-banner/_s-banner.pug
include ../blocks/s-treners/_s-treners.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-sportman-head/_s-sportman-head.pug
include ../blocks/s-sportman-body/_s-sportman-body.pug
include ../blocks/s-event-head/_s-event-head.pug
include ../blocks/s-event-body/_s-event-body.pug

block title
	title  Название мастер-класса

block pagecontent
	
	+header() 
		+top-nav()
	.page-head.container
		h1  Название мастер-класса
		+breadcrumb("Главная","Спорстмены", "Семианры и мастер-классы","Название мастер-класса ")
	.container
		+s-nav(  'Архив ', "Анонсированные", "1995","1996","1997 ","1998","1999 ","2000")(class="section-nav__body--shirt")
		+s-event-head(" Название турнира")
			p Смотреть 
				|
				a.tdu(href="#") Отчет о турнире
			.row
				- for (var x = 0; x < 2; x++)
					.col-lg-6
						.video-block
							<iframe  src="https://www.youtube-nocookie.com/embed/en6gms6e54Q?controls=0"   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	+s-event-body

	//- +s-news-4
	//- 	h3 ПОСЛЕДНИЕ НОВОСТИ
		
	//- +s-banner
	+footer()

