mixin s-content()
	// start s-content
	+b.s-content.section.block-with-lazy.pt-0#s-content&attributes(attributes)
		.container.border-bottom
			.section--md.text-center 
				p  Прямым предшественником современного тенниса считается игра в помещениях, до конца XIX века носившая то же название, а в настоящее время известная как реал-теннис, корт-теннис или жё-де-пом (фр. jeu de paume, в буквальном переводе игра ладонью). 
				p Вначале в этой игре, как и в ручной пелоте, мяч отбивали рукой, затем появились перчатки, биты и, наконец, в XVI веке, ракетки и сетка. На это же время приходится пик популярности жё-де-пома, в который играли французские, английские и испанские короли того времени.
				img(src="img/image.jpg", alt="")
				p Следом за Индиан-Уэллсом на другом побережье Америки, восточном – во Флориде – пройдёт ещё один крупный двухнедельный турнир – Miami Open. Соревнование будет разыграно в 35-й раз, причём с самого появления оно проводилось одновременно для мужчин и женщин. В 1985 году турнир прошёл в Делрей-Бич, в следующем сезоне переехал в Бока-Рэйтон, а с 1987-го надолго обосновался в теннисном центре Crandon Park на острове Ки-Бискейне близ Майами. В нынешнем розыгрыше произошёл грандиозный переезд. Турнир разместился на стадионе «Хард-Рок», где проводит домашние матчи команда НФЛ «Майами Долфинс».
				blockquote  
					p На строительство и реконструкцию стадиона «Хард-Рок» для проведения нового крупного спортивного мероприятия было потрачено более 500 миллионов долларов.  
				p На строительство и реконструкцию стадиона «Хард-Рок» для проведения нового крупного спортивного мероприятия было потрачено более 500 миллионов долларов. Кстати одним из инвесторов «Майами Долфинс» является величайшая теннисистка современности Серена Уильямс. Несмотря на серьёзные затраты на переезд, турнир сохранил тенденцию на ежегодное увеличение общего призового фонда. К 2018 году его размер достиг $ 15,95 млн, а в нынешнем розыгрыше перевалил за 18. Причём победителям в одиночном разряде, мужском и женском, достанется по 1 354 010.
				+e.foot
					.row
						.col
							.small.text-dark Теги: 
								| 
								a.tdu(href="#") Теннис
								| 
								a.tdu(href="#") Большой теннис
								| 
								a.tdu(href="#") Турнир
						.col-sm-auto
							+soc2()
							

	// end s-content


mixin s-content2()
	// start s-content
	+b.s-content.section.block-with-lazy.pt-0#s-content&attributes(attributes)
		.container 
			block
							

	// end s-content


